<nav class="navbar navbar-expand-lg bg-theme">
  <a class="navbar-brand" href="#">
   <img src="https://cdn-icons-png.flaticon.com/512/3420/3420217.png" class="logo"/>    
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Vendas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/customers">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sale">Cadastrar pedido</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 color-white" type="submit">Pesquisar</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
