<div class="container pt-3">
   <h2 class="mb-3">
      <img src="https://cdn-icons-png.flaticon.com/512/2250/2250401.png" style="width:40px" />
      Vendas
   </h2>

   <table class="table table-striped">
      <thead>
         <th>
            CODIGO
         </th>
         <th>
            CLIENTE
         </th>
         <th>
            DATA DO PEDIDO
         </th>
         <th>
            TOTAL
         </th>
         <th></th>
      </thead>
      <tbody>
         <tr *ngFor="let item of sales">
            <td>
               {{item.id}}
            </td>
            <td>
               {{item.customer.name}}
            </td>
            <td>
               {{item.dateSale | date: 'yy/mm/YYYY'}}
            </td>
            <td>
               {{item.total}}
            </td>
            <td>
               <button (click)="setSale(item)" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                  <i class="fa fa-eye"></i>
               </button>
            </td>
         </tr>
      </tbody>
   </table>
</div>

<!-- Modal -->
<div *ngIf="sale" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Detalhes do pedido</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            Cliente: {{sale.customer.name}}<br />
            <div class="row" style="border-bottom: 1px solid gray;padding-bottom: 20px;">
               <div class="col-md-6">Data: {{sale.dateSale | date: 'yy/mm/YYYY' }}</div>
               <div class="col-md-6">Hora: {{sale.dateSale | date: 'HH:mm:ss' }}</div>
            </div>

           
            <div style="padding-bottom: 20px; padding-top: 20px">
               <div class="row" *ngFor="let item of sale.itens">
                  <div class="col-md-4">{{item.name}}</div>
                  <div class="col-md-4" style="border-bottom-style: dotted;"></div>
                  <div class="col-md-4">R${{item.price}}</div>
               </div>
            </div>

            <div class="row" style="border-top: 1px solid gray;">
               <div class="col-md-4">Total do pedido:</div>
               <div class="col-md-4" style="border-bottom-style: dotted;"></div>
               <div class="col-md-4">R${{sale.total}}</div>
            </div>

         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

         </div>
      </div>
   </div>
</div>